*{
    margin: 0;
    border: 0;
    background-color: #f0f0f0;
}

body{
    font-size: 12px;
}

.container{
    /* background-color: aquamarine; */
    /* height: 200px; */
    background-color: #f0f0f0;

}

.title{
    height: 150px;
    font-size: 6em;
    text-align: center;
    line-height: 150px;
    border-bottom: 1px solid #c0bfbc;
    background-color: #f0f0f0;
}

.inputO{
    font-size: 1.5em;
    height: 250px;
    width: 450px;
    text-align: center;
    /* line-height: 150px; */
    /* border: 3px solid #007acc; */
    border-radius: 5px;
    margin: 20px auto;
    /* background-color: white; */
}
.inputScope{
    height: 25px;
    width: 200px;
    border: 2px solid #d4d3d0;
    border-radius: 6px;
}

.scope{
    /* position: relative; */
    /* line-height: 200px; */
    margin: 30px;

}

.inputNumber{
    height: 25px;
    width: 200px;
    border: 2px solid #d4d3d0;
    border-radius: 6px;
    
}

.beginProblem{
    height: 40px;
    width: 320px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid #d4d3d0;
    background-color:#0198e7;
    font-size: 1.1em;
    margin: 50px;
}

.showDiv{
    display: flex;
}
.showProplem{
    width: 50%
}
.proplem {
    /* display: inline-block; */
   min-height: 200px;
   width: 80%;
   border: 3px solid white;
   background-color: white;
   border-radius: 10px;
   margin: 30px auto;
   /* float: right; */
   padding: 10px;
}
.problemBt{
    width: 200px;
    height: 40px;
    background-color:#0198e7;
    border-radius: 10px;
    margin: auto 50px;
}

.answerBt{
    width: 200px;
    height: 40px;
    background-color:#0198e7;
    border-radius: 10px;
    margin: auto 50px;
}
.showAnswer{
    width: 50%
}
.answer {
    /* display: inline-block; */
    min-height: 200px;
    width: 80%;
    border: 3px solid white;
    background-color: white;
    border-radius: 10px;
    margin: 30px auto;
    /* float: right; */
    padding: 10px;
    padding: 10px;
 }
 